### First File

* Name : KH BABAR NASEER
* Contact : 0333 6335727
* Email : kh.babar.naseer@outlook.com
* Alternate Email : Babarnaseer716@gmail.com

In [1]:
#install Library

%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ai & ml\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ai & ml\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import 

import pandas as pd

In [3]:
pd.read_csv("New Microsoft Excel Worksheet.csv")

        MONTH        DAY   PRICE  NETPRICE
0     JANUARY     Monday  1000.0   34545.0
1    FEBRUARY    Tuesday  1000.0   34545.0
2       MARCH  Wednesday  1000.0   34545.0
3       APRIL   Thursday  1000.0   34545.0
4         MAY     Friday  1000.0   34545.0
5        JUNE   Saturday  1000.0   34545.0
6        JULY     Sunday  1000.0   34545.0
7      AUGUST     Monday  1000.0   34545.0
8         NaN    Tuesday  1000.0       NaN
9     OCTOBER  Wednesday  1000.0   34545.0
10   NOVEMBER   Thursday  1000.0   34545.0
11   DECEMBER     Friday  1000.0   34545.0
12    JANUARY   Saturday  1000.0   34545.0
13   FEBRUARY     Sunday  1000.0   34545.0
14      MARCH     Monday  1000.0   34545.0
15      APRIL    Tuesday  1000.0   34545.0
16        MAY  Wednesday  1000.0   34545.0
17       JUNE   Thursday  1000.0   34545.0
18       JULY     Friday     NaN   34545.0
19     AUGUST   Saturday  1000.0   34545.0
20  SEPTEMBER     Sunday  1000.0   34545.0
21    OCTOBER     Monday  1000.0   34545.0
22   NOVEMBER    Tuesday  1000.0   34545.0
23   DECEMBER  Wednesday  1000.0   34545.0
24    JANUARY   Thursday  1000.0   34545.0
25   FEBRUARY     Friday  1000.0   34545.0

In [4]:
df = pd.read_csv("New Microsoft Excel Worksheet.csv")

In [5]:
print(df)

        MONTH        DAY   PRICE  NETPRICE
0     JANUARY     Monday  1000.0   34545.0
1    FEBRUARY    Tuesday  1000.0   34545.0
2       MARCH  Wednesday  1000.0   34545.0
3       APRIL   Thursday  1000.0   34545.0
4         MAY     Friday  1000.0   34545.0
5        JUNE   Saturday  1000.0   34545.0
6        JULY     Sunday  1000.0   34545.0
7      AUGUST     Monday  1000.0   34545.0
8         NaN    Tuesday  1000.0       NaN
9     OCTOBER  Wednesday  1000.0   34545.0
10   NOVEMBER   Thursday  1000.0   34545.0
11   DECEMBER     Friday  1000.0   34545.0
12    JANUARY   Saturday  1000.0   34545.0
13   FEBRUARY     Sunday  1000.0   34545.0
14      MARCH     Monday  1000.0   34545.0
15      APRIL    Tuesday  1000.0   34545.0
16        MAY  Wednesday  1000.0   34545.0
17       JUNE   Thursday  1000.0   34545.0
18       JULY     Friday     NaN   34545.0
19     AUGUST   Saturday  1000.0   34545.0
20  SEPTEMBER     Sunday  1000.0   34545.0
21    OCTOBER     Monday  1000.0   34545.0
22   NOVEMBER    Tuesday  1000.0   34545.0
23   DECEMBER  Wednesday  1000.0   34545.0
24    JANUARY   Thursday  1000.0   34545.0
25   FEBRUARY     Friday  1000.0   34545.0

In [8]:
df1 = pd.read_excel("New Microsoft Excel Worksheet.xlsx")
print (df1)

        MONTH        DAY   PRICE  NETPRICE
0     JANUARY     Monday  1000.0   34545.0
1    FEBRUARY    Tuesday  1000.0   34545.0
2       MARCH  Wednesday  1000.0   34545.0
3       APRIL   Thursday  1000.0   34545.0
4         MAY     Friday  1000.0   34545.0
5        JUNE   Saturday  1000.0   34545.0
6        JULY     Sunday  1000.0   34545.0
7      AUGUST     Monday  1000.0   34545.0
8         NaN    Tuesday  1000.0       NaN
9     OCTOBER  Wednesday  1000.0   34545.0
10   NOVEMBER   Thursday  1000.0   34545.0
11   DECEMBER     Friday  1000.0   34545.0
12    JANUARY   Saturday  1000.0   34545.0
13   FEBRUARY     Sunday  1000.0   34545.0
14      MARCH     Monday  1000.0   34545.0
15      APRIL    Tuesday  1000.0   34545.0
16        MAY  Wednesday  1000.0   34545.0
17       JUNE   Thursday  1000.0   34545.0
18       JULY     Friday     NaN   34545.0
19     AUGUST   Saturday  1000.0   34545.0
20  SEPTEMBER     Sunday  1000.0   34545.0
21    OCTOBER     Monday  1000.0   34545.0
22   NOVEMBER    Tuesday  1000.0   34545.0
23   DECEMBER  Wednesday  1000.0   34545.0
24    JANUARY   Thursday  1000.0   34545.0
25   FEBRUARY     Friday  1000.0   34545.0

In [7]:
%pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ai & ml\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in c:\users\ai & ml\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\ai & ml\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.